@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override Chrome, Safari, and Edge styles */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
  @apply bg-transparent border border-gray-300; /* Add your Tailwind border utilities if needed */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Long transition for background and color */
  -webkit-text-fill-color: inherit !important; /* Inherit the color from the input's text color */
}

/* Ensure the text color remains consistent, not black */
input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
}

/* For Firefox, if needed */
input[type="text"]:-moz-ui-autofill {
  @apply bg-transparent border border-gray-300; /* Add your Tailwind border utilities if needed */
}

@layer base {
  :root {
    --background: 0 0% 96%;

    --primary: 25 70% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.4 42.7% 16.5%;
    --secondary-foreground: 210 40% 96.1%;

    --foreground: 0 0% 7%;

    --muted: 0 0% 44%;
    --muted-foreground: 0 0% 7%;

    --card: 0 0% 89%;
    --card-foreground: 210 40% 98%;

    --accent: 160.9 70.3% 39.6%;
    --accent-foreground: 210 40% 98%;

    --rating: 38.8 100% 70.2%;
    --statistic-card-gradient-start: 0 100% 61.6%; /* 50% opacity */
    --statistic-card-gradient-end: 0 100% 61.6%; /* 3.5% opacity */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --error: 3 100% 61%;

    --radius: 0.5rem;
    --tw-shadow-color: 0 0% 8%;

    --scroll-thumb: 0, 0%, 7%, 0.4;
    --scroll-thumb-background: 0, 0%, 37%, 0.6;

    --landing-page: 35 51% 93%;
    --landing-cover: 227 71% 45%;
    --landing-cover-brighter: 227 71% 55%;

    --books-in-list-blocks-number-sm: 2;
    --books-in-list-blocks-number-md: 4;
    --books-in-list-blocks-number: 5;
  }

  .dark {
    --background: 0 0% 7%;

    --primary: 25 70% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.4 42.7% 16.5%;
    --secondary-foreground: 210 40% 96.1%;

    --foreground: 0 0% 100%;
    --muted: 220 10.5% 78.2%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 225 5% 10%;
    --card-foreground: 210 40% 98%;
    --accent: 160.9 70.3% 39.6%;
    --accent-foreground: 210 40% 98%;
    --rating: 38.8 100% 70.2%;
    --statistic-card-gradient-start: 0 100% 61.6%;
    --statistic-card-gradient-end: 0 100% 61.6%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --error: 3 100% 61%;

    --radius: 0.5rem;
    --tw-shadow-color: 0 0% 8%;

    --scroll-thumb: 0, 0%, 100%, 0.4;
    --scroll-thumb-background: 215.4, 16.3%, 46.9%, 0.6;
    --landing-page: 35 51% 93%;
    --landing-cover: 227 71% 45%;
    --landing-cover-brighter: 227 71% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body,
  input,
  textarea,
  select,
  button {
    @apply font-roboto;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased !important;
  }
}

.modal-background {
  @apply bg-secondary rounded-lg p-4;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    /* display: none; */
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
  }

  .scrollbar-visible {
    /* -ms-overflow-style: auto;
    scrollbar-width: auto; */
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .tooltipContent {
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 850px; /* Adjust based on your line height and font size to fit exactly 10 lines */
    max-width: 750px; /* Adjust as necessary */
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (min-width: 768px) {
  /* Size */
  ::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track,
  .scrollbar-visible::-webkit-scrollbar-track {
    border-radius: 999999px;
    background: hsla(var(--scroll-thumb-background));
  }

  /* Handle */
  ::-webkit-scrollbar-thumb,
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: hsla(var(--scroll-thumb));
    border-radius: 9999px;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: hsla(var(--foreground), 0.5);
    height: 10px; */
  }

  .placeholder-gray-300-70::placeholder {
    /* color: hsla(var(--foreground), 0.5); */
  }
}

/* Animations */
@keyframes errorFade {
  0% {
    background-color: hsla(var(--background), 1);
  }
  30% {
    background-color: hsla(var(--error), 0.5);
  }
  100% {
    background-color: hsla(var(--background), 1);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-error-fade {
  animation: errorFade 2s;
}

.shimmer-effect {
  position: relative;
  overflow: hidden;
}

.shimmer-effect::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  animation: shimmer 2s infinite;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-see-all {
  @apply text-xl text-foreground underline underline-offset-2 leading-5.5 flex-shrink-0;
}

.text-list-title {
  @apply text-xl leading-5.5 font-normal line-clamp-1 text-start;
}
