@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override Chrome, Safari, and Edge styles */
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
  @apply bg-transparent border border-gray-300; /* Add your Tailwind border utilities if needed */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Long transition for background and color */
  -webkit-text-fill-color: inherit !important; /* Inherit the color from the input's text color */
}

/* Ensure the text color remains consistent, not black */
input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
}

/* For Firefox, if needed */
input[type="text"]:-moz-ui-autofill {
  @apply bg-transparent border border-gray-300; /* Add your Tailwind border utilities if needed */
}

@layer base {
  :root {
    /* Selected button (Primary/Default) */
    --primary: 0, 157, 255;
    /* Primary/Medium */
    --primary-foreground: 9, 72, 123;
    /* Primary/weak */
    --primary-weak: 0, 42, 77;
    /* Not selected button (Surface/Secondary) */
    --secondary: 21, 63, 102;
    --background: 0, 17, 42;
    /* Text main color (Neutral/Default) */
    --foreground: 255, 255, 255;
    /* Text secondary color (Neutral/Strong) */
    --muted: 193, 202, 209;
    /* Surface/Primary */
    --card: 21, 63, 102;
    /* Status/Success/Default */
    --accent: 28, 197, 135;
    /* Stars rating color */
    --rating: 255, 177, 60;

    /* Statistic card gradient colors - using RGBA for opacity */
    --statistic-card-gradient-start: 0, 157, 255, 0.5; /* 50% opacity */
    --statistic-card-gradient-end: 0, 157, 255, 0.035; /* 3.5% opacity */

    /* Borders and Inputs */
    --border: 193, 202, 209;
    --input: 193, 202, 209;
    --ring: 0, 157, 255;

    /* Border Radius */
    --radius: 0.5rem;
  }

  .dark {
    --background: 219, 100%, 8%;

    --primary: 0 100% 61.6%;
    --primary-foreground: 210 40% 98%;

    /* Surface/Secondary */
    --secondary: 217.4 42.7% 16.5%;
    --secondary-foreground: 210 40% 96.1%;

    /* Neutral/Default */
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;

    /* Neutral/Strong */
    --muted: 220 10.5% 78.2%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Surface/Primary */
    --card: 215.4 42.7% 33.3%;
    --card-foreground: 210 40% 98%;

    /* Status/Success/Default */
    --accent: 160.9 70.3% 39.6%;
    --accent-foreground: 210 40% 98%;

    /* Stars rating color */
    --rating: 38.8 100% 70.2%;

    /* Statistic card gradient colors */
    --statistic-card-gradient-start: 0 100% 61.6%; /* 50% opacity */
    --statistic-card-gradient-end: 0 100% 61.6%; /* 3.5% opacity */

    /* Borders and Inputs */
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    /* Border Radius */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  body,
  input,
  textarea,
  select,
  button {
    @apply font-sans;
  }
}

@layer utilities {
  .grid-header-table {
    @apply grid grid-cols-header-table;
  }
  @screen xl {
    .grid-header-table {
      @apply grid grid-cols-header-table-xl;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--foreground));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--muted));
}

.placeholder-gray-300-70::placeholder {
  color: rgba(var(--foreground), 0.7);
}

/* Animations */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-effect {
  position: relative;
  overflow: hidden;
}

.shimmer-effect::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  animation: shimmer 2s infinite;
}

.modal-background {
  @apply bg-secondary rounded-lg p-4;
}

.title {
  @apply line-clamp-1 text-5xl;
}
