@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219, 100%, 8%;

    --primary: 204, 100%, 50%;
    /* Convert #0E2A44 (not selected button) to HSL */
    --secondary: 216, 59%, 17%;
    /* Text main color (white) */
    --foreground: 0, 0%, 100%;
    /* Text secondary color */
    --muted: 214, 14%, 80%;
    /* Surface/Primary */
    --card: 210, 30%, 20%;
    /* Status/Success/Default */
    --accent: 151, 64%, 46%;
    /* Stars rating color */
    --rating: 37, 100%, 70%;
    /* Statistic card gradient colors */
    --statistic-card-gradient-start: 204, 100%, 50%; /* 50% opacity */
    --statistic-card-gradient-end: 204, 100%, 50%; /* 3.5% opacity */

    /* Borders and Inputs */
    --border: 214, 14%, 80%;
    --input: 214, 14%, 80%;
    --ring: 204, 100%, 50%;

    /* Border Radius */
    --radius: 0.5rem;
  }

  .dark {
    --background: 219, 100%, 8%;

    --primary: 0 100% 61.6%;
    --primary-foreground: 210 40% 98%;

    /* Surface/Secondary */
    --secondary: 217.4 42.7% 16.5%;
    --secondary-foreground: 210 40% 96.1%;

    /* Neutral/Default */
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;

    /* Neutral/Strong */
    --muted: 220 10.5% 78.2%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* Surface/Primary */
    --card: 215.4 42.7% 33.3%;
    --card-foreground: 210 40% 98%;

    /* Status/Success/Default */
    --accent: 160.9 70.3% 39.6%;
    --accent-foreground: 210 40% 98%;

    /* Stars rating color */
    --rating: 38.8 100% 70.2%;

    /* Statistic card gradient colors */
    --statistic-card-gradient-start: 0 100% 61.6%; /* 50% opacity */
    --statistic-card-gradient-end: 0 100% 61.6%; /* 3.5% opacity */

    /* Borders and Inputs */
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    /* Border Radius */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
